*{
    box-sizing: border-box;
}
/*
body {
   background: #162726;
   /*background: linear-gradient(180deg, rgb(0,17,53) 0%, rgb(2,14,67) 35%, rgb(94,3,110) 100%);
   height: calc(var(--window-height, 1vh)*100);
   margin: 0;
   padding: 10px;
}
/*rgb(1,122,253)
rgb(229,5,228)*/
#editorBox, #previewBox, #editor {
   background-color:/* #f14340*/ #162726;
   border: 1px solid #77ECF2;
   color: white;
   position: relative;
}

#editorBox{
    width: 30vw;
    margin: auto;
    margin-bottom: 10px;
}

#editor{
    resize: vertical;
    width: 100% !important;
    border: none;
    min-height: 25vh; 
    outline: none;
    margin-bottom: 0;
    padding: 5px 10px;
}

.editorMax > #editor {
    min-height: calc(90vh - 37px);
    max-height: calc(90vh - 37px);
}

.editorMin{
    min-height: 25vh;
}

.previewMin > .preview{
    min-height: 40vh
}

.editorMax, .previewMax > .preview{
    min-height: 90vh;
    max-height: 90vh;
}

.editorNone, .previewNone{
    display:none;
}

#previewBox {
    width: 60vw;
    margin: auto;
    min-height: 80px;

}

.preview {
    padding: 1px 10px;
}

.topBox {
    height: 30px;
    border: 1px solid #77ECF2;
    border-style: none none solid none;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 4px 5px 3px;
}

button{
    background: transparent;
    border: none;
    color: white;
    display: block;
    cursor: pointer;
}

button:hover {
    color: #77ECF2;
}

.preview img {
    max-width: 100%;
}

.preview a {
    color: #77ECF2;
}

.preview pre {
    background: black;
    color: #97ffe1;
}

.preview table {
    border-collapse: collapse;
}

.preview th, .preview td {
    border: 2px solid #77ECF2;
    padding-left: 5px;
    padding-right: 5px;
}

